<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
	<head> </head>

	<body>
	 	{% block nav_bar %}{% endblock %}

	 	<div class="Introduction">
	 		<h2>What does Gameday Parking do?</h2>
	 		<p>Gameday Parking is a robust web-app meant to connect people looking for parking with people looking to lease.</p>
	 		<p>Specifically, users will be able to navigate many parking availabilities and request/reserve parking spots through the app. Admins will be able to post available parking spots with details (amenities, size of space, grill availability, etc)</p>

	 	</div>

	 	<div class="Progress">
	 		<h2>What we have done so far?</h2>
	 		<p>In the first iteration, we created necessary database models and create a basic web interface to populate thsoe modes.</p>
	 	</div>

	 	<div class="Future">
	 		<h2>What we will do in the near future?</h2>
	 		<p>In the second iteration, we will add additional features to the web interface and refine it, and reate web interfaces to edit database models.</p>
	 		<p>In the thrid iteration, we will complete full test suite, and add reach goals that have no dependencies on them (e-commerce, mobile app, etc).</p>
	 	</div>  

	</body>
</html>