<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Gameday Parking Finder</a>
        </div>
    
        <div class="collapse navbar-collapse" id="exampleNavbarCollapse">
            <ul class="nav navbar-nav">
                <li class="#"><a href="/home"><i class="glyphicon glyphicon-home"></i> &nbsp;Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i> &nbsp;{{user.username}}</a>

                        <ul class="dropdown-menu">
                            <li><a href="/profile/"><i class="glyphicon glyphicon-user"></i> &nbsp;Profile</a></li>
                            <li><a href="../accounts/password/change"><i class="glyphicon glyphicon-cog"></i> &nbsp;Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/about"><i class="glyphicon glyphicon-question-sign"></i> &nbsp;About</a></li>
                            <li><a href="/contact"><i class="glyphicon glyphicon-phone-alt"></i> &nbsp;Contact Us</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/accounts/logout"><i class="glyphicon glyphicon-log-out"></i> &nbsp;Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="/accounts/login"><i class="glyphicon glyphicon-log-in"></i> &nbsp;Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
