<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" style="height:100%;">
    <head>
        {% include "header.html" %}
        <link   rel="stylesheet" 
                href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
                type="text/javascript"></script>
        
        <style>
            .ontop {
                z-index: 999;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: none;
                position: fixed;
                background-color: #C0C0C0;
                color: #aaaaaa;
                opacity: .9;
                filter: alpha(opacity = 50);
            }
            #popup {
                width: 500px;
                height: 400px;
                position: absolute;
                color: #000000;
                background-color: #ffffff;
                /* To align popup window at the center of screen*/
                top: 50%;
                left: 50%;
                margin-top: -200px;
                margin-left: -250px;
            }
        </style>
        
        <script type="text/javascript">
            function pop(div) {
                document.getElementById(div).style.display = 'block';
            }
            function hide(div) {
                document.getElementById(div).style.display = 'none';
            }
            //To detect escape button
            document.onkeydown = function(evt) {
                evt = evt || window.event;
                if (evt.keyCode == 27) {
                    hide('popDiv');
                }
            };
        </script>
    </head>
    
    <body style="width:100%; min-height:100%;">
        {% block nav_bar %}{% endblock %}
        <div id="bodyContainer" style="width:100%; height:800px; margin-top:-20px;">
            <div id="filterContainer" style="background-color:lightgrey; width:100%; height:70px; padding-top:22px; padding-bottom:10px; text-align:center; border-style:inset; border-width:1px; border-right-width:0px; border-left-width:0px; border-color:lightgrey;">
                <button id="cost_low" onclick="sort_cost_low()" style="margin-right:5px;">Cost Low to High</button>

                <button id="cost_high" onclick="sort_cost_high()" style="margin-right:5px; margin-left:5px;">Cost High To Low</button>

                <button id="dist_low" onclick="sort_dist_low()" style="margin-right:5px; margin-left:5px;">Distance Low to High</button>

                <button id="dist_high" onclick="sort_dist_high()" style="margin-left:5px;">Distance High to Low</button>
                
                <FORM NAME="amenities" style="display:inline-block; margin-left:30px;">
                    <INPUT TYPE="checkbox" id="filter_grill" name="grill" onClick="filter_and_sort_list()" style="display:inline-block;" /> 
                    <label for="grill" style="display:inline-block; vertical-align:middle; margin-right:10px;">Grill</label>

                    <INPUT TYPE="checkbox" id="filter_bathroom" name="bathroom" onClick="filter_and_sort_list()" style="display:inline-block;" />
                    <label for="bathroom" style="display:inline-block; vertical-align:middle; margin-right:10px;">Bathroom</label>

                    <INPUT TYPE="checkbox" id="filter_yard" name="yard" onClick="filter_and_sort_list()" style="display:inline-block;" />
                    <label for="yard" style="display:inline-block; vertical-align:middle; margin-right:10px;">Yard</label>

                    <INPUT TYPE="checkbox" id="filter_table" name="table" onClick="filter_and_sort_list()" style="display:inline-block;" />
                    <label for="table" style="display:inline-block; vertical-align:middle; margin-right:10px;">Table</label>

                    <INPUT TYPE="checkbox" id="filter_electricity" name="electricity" onClick="filter_and_sort_list()" style="display:inline-block;" /> 
                    <label for="electricity" style="display:inline-block; vertical-align:middle; margin-right:10px;">Electricity</label>
                </FORM>
                <!--<button id="filter_grill" onclick="filter_grill()">Filter By Grill</button>
                <button id="filter_bathroom" onclick="filter_bathroom()">Filter By Bathroom</button>
                <button id="filter_yard" onclick="filter_yard()">Filter By Yard</button>
                <button id="filter_table" onclick="filter_table()">Filter By Table</button>
                <button id="filter_electricity" onclick="filter_electricity()">Filter By Electricity</button>-->
            </div>

            <div id="mapContainer" style="width:45%; height:100%; margin-top:1px; float:right;">
                <div id="map" style="height:100%; width:100%;"></div>

                <!-- Script to implement googe maps block -->
                <script>    
                    var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 10,
                            center: new google.maps.LatLng({{center_lon}},{{center_lat}}),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                    });
                    
                    var infowindow = new google.maps.InfoWindow();
                    var parkingspots = {{ json_parkingspots|safe }};
                    var i, marker;
                   
                    for (i = 0; i < parkingspots.length; i++) {
                           marker = new google.maps.Marker({
                           position: new google.maps.LatLng(parkingspots[i].location.longitude, parkingspots[i].location.latitude),
                           map: map
                        });
                    var listAmenities =parkingspots[i].amenities;
                    var amenitiesPopUp=''
                    for(var k in listAmenities)
                    {
                        if(listAmenities[k]==true)
                        {
                            amenitiesPopUp+=k+' ';
                        }
                    }
                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {
                              infowindow.setContent(

                                                    //not responsive
                                                   '<div id="popContainer" style="width: 400px; min-height: 300px;">'+
                                                  '<img src="/static/media/'+parkingspots[i].photos.substring(2)+'" height="50%" width="50%">'+
                                                   '<h4>' + parkingspots[i].street_address+'</h4>'+
                                                   '<p><b>Cost:</b></p>'+
                                                    '<p>$' + parkingspots[i].cost+'</p>'+
                                                    '<p><b>Amenities:</b></p>'+
                                                    '<p>' + amenitiesPopUp+'</p>'+
                                                   '<p><b>Description:</b></p>'+
                                                    '<p>' + parkingspots[i].description+'</p>'
                                                  );
                            infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                </script>
            </div>
            
            <div id="parkingSpotsContainer" style="width:50%; height:100%; float:left; padding-top:10px; padding-left:20px;">
                <div id="parkingContainer">
                    {% for x in parkingspots %}
                        <div class="row">
                            <section class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                                 <a href="#" onClick="pop('popDiv')"><h3>{{ x.street_address }}</h3></a>
                                <p>{{ x.description }}</p>
                                <div id="popDiv" class="ontop" align="center">
                                    <div id="popup">
                                    <h4> {{x.street_address}}</h4>
                                                   <p><b>Cost:</b></p>
                                                    <p>{{x.cost}}</p>
                                                   <p><b>Description:</b></p>
                                                    <p>{{x.description}}</p>
                                                <a href="#" onClick="hide('popDiv')">Close</a>
                                            </div>
                                    <!--<table border="1" id="popup">
                                        <tr>
                                            <td>
                                                Click Close OR escape button to close it
                                                
                                            </td>
                                            </tr>
                                    </table>-->
                                </div>
                            </section>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Prints footer -->
        {% include "footer.html" %}

        <!--
        Script to implement Filter functions:

        1) Sort by Low Cost First
        2) Sort by High Cost First
        3) Sort by Closest Distance
        4) Sort by Furthest Distance
        5) Filter by Grill Availability
        6) Filter by Bathroom Availability
        7) Filter by Yard availability
        8) Filter by Table availability
        9) Filter by Electricity availability
        -->
        <script type="text/javascript">
            var last_sort = "sort_dist_low";
            var global_list = {{ json_parkingspots|safe }}
            function filter_and_sort_list() {
                curr_list = global_list.slice(); //used to copy global_list
                // get checkbox values
                filter_yard = document.getElementById("filter_yard").checked
                filter_bathroom = document.getElementById("filter_bathroom").checked
                filter_table = document.getElementById("filter_table").checked
                filter_electricity = document.getElementById("filter_electricity").checked
                filter_grill = document.getElementById("filter_grill").checked

                if (filter_yard)
                    curr_list = curr_list.filter(filter_by_yard)
                if (filter_bathroom)
                    curr_list = curr_list.filter(filter_by_bathroom)
                if (filter_table) 
                    curr_list = curr_list.filter(filter_by_table)
                if (filter_electricity)
                    curr_list = curr_list.filter(filter_by_electricity)
                if (filter_grill)
                    curr_list = curr_list.filter(filter_by_grill)

                switch (last_sort) {
                case "sort_cost_low":
                    curr_list.sort(sort_by_low_cost);
                    break;
                case "sort_cost_high":
                    curr_list.sort(sort_by_high_cost);
                    break;
                case "sort_dist_low":
                    curr_list.sort(sort_by_low_distance);
                    break;
                case "sort_dist_high":
                    curr_list.sort(sort_by_high_distance);
                    break;
                default:
                    document.write("No last sort");
                }
                
                var content = "";
                for (i = 0; i < curr_list.length; i++) {
                    content += "<div class='row'>";
                    content += "<section class='col-xs-6 col-sm-6 col-md-4 col-lg-2'>";
                    content += "<a href='#' onClick=\"pop('popDiv')\"><h3>" + curr_list[i].street_address + "</h3></a>"
                    content += "<p>" + curr_list[i].description + "</p>"
                    content += "<div id='popDiv' class='ontop' align='center'>"
                    content += "<div id='popup'>"
                    content += "<h4>" + curr_list[i].street_address + "</h4>"
                    content += "<p><b>Cost:</b></p>"
                    content += "<p>" + curr_list[i].cost + "</p>"
                    content += "<p><b>Description:</b></p>"
                    content += "<p>" + curr_list[i].description + "</p>"
                    content += "<a href='#' onClick=\"hide('popDiv')\">Close</a>"
                    content += "</div></div>"
                    content += "</section>";
                    content += "</div>";
                }
                document.getElementById("parkingContainer").innerHTML = content;
            }


            function sort_cost_low(curr_list) {
                last_sort = "sort_cost_low"
                filter_and_sort_list();
            }
            function sort_cost_high(curr_list) {
                last_sort = "sort_cost_high"
                filter_and_sort_list();
            }
            function sort_dist_low(curr_list) {
                last_sort = "sort_dist_low"
                filter_and_sort_list();
            }
            function sort_dist_high(curr_list) {
                last_sort = "sort_dist_high"
                filter_and_sort_list();
            }
        </script>

        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/parking_sort.js" %}"></script>
    </body>
    
</html>
