<!DOCTYPE html>
{% load staticfiles %}

<html lang="en" style="height:100%;">
    <head>
        {% include "header.html" %}
        <link   rel="stylesheet" 
                href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
        <script src="http://maps.google.com/maps/api/js?sensor=false" 
                type="text/javascript"></script>
    </head>
    
    <body style="width:100%; min-height:100%;">
        {% block nav_bar %}{% endblock %}
        <div id="bodyContainer" style="width:100%; height:800px; margin-top:-20px;">
            <div id="filterContainer" style="width: 100%; height: 50px; padding-top:10px; padding-bottom:10px; text-align:center;">
                <button id="cost_low" onclick="sort_cost_low()">Sort By Cost Low to High</button>
                <button id="cost_high" onclick="sort_cost_high()">Sort By Cost High To Low</button>
                <button id="dist_low" onclick="sort_dist_low()">Sort By Low to High Distance</button>
                <button id="dist_high" onclick="sort_dist_high()">Sort By High to Low Distance</button>
                <button id="filter_grill" onclick="filter_grill()">Filter By Grill</button>
                <button id="filter_bathroom" onclick="filter_bathroom()">Filter By Bathroom</button>
                <button id="filter_yard" onclick="filter_yard()">Filter By Yard</button>
                <button id="filter_table" onclick="filter_table()">Filter By Table</button>
                <button id="filter_electricity" onclick="filter_electricity()">Filter By Electricity</button>
            </div>

            <div id="mapContainer" style="width:45%; height:100%; float:right; padding-top:10px;">
                <div id="map" style="height:100%; width:100%;"></div>

                <!-- Script to implement googe maps block -->
                <script>    
                    var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 10,
                            center: new google.maps.LatLng({{center_lon}},{{center_lat}}),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                    });
                    
                    var infowindow = new google.maps.InfoWindow();
                    var parkingspots = {{ json_parkingspots|safe }};
                    var i, marker;
                   
                    for (i = 0; i < parkingspots.length; i++) {
                           marker = new google.maps.Marker({
                           position: new google.maps.LatLng(parkingspots[i].location.longitude, parkingspots[i].location.latitude),
                           map: map
                        });
                    
                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {
                            infowindow.setContent('<h5>'+parkingspots[i].street_address+'</h5></br>' +
                                                  '<p>' + parkingspots[i].description+'</p>'
                                                  );
                            infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }
                </script>
            </div>
            
            <div id="parkingSpotsContainer" style="width:50%; height:100%; float:left; padding-top:10px;">
                <div class="parking container">
                    <p>Parking Spots</p>
                    
                    {% for x in parkingspots %}

                    <div class="row">
                        <section class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
                            <h3>{{ x.address }}</h3>
                            <p>{{ x.description }}</p>
                        </section>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Prints footer -->
        {% include "footer.html" %}

        <!--
        Script to implement Filter functions:

        1) Sort by Low Cost First
        2) Sort by High Cost First
        3) Sort by Closest Distance
        4) Sort by Furthest Distance
        5) Sort by Grill Availability
        6) Sort by Bathroom Availability
        7) Sort by Yard availability
        8) Sort by Table availability
        9) Sort by Electricity availability
        -->
        <script type="text/javascript">
            function sort_cost_low() {
                var parkingspots = {{ json_parkingspots|safe }};
                parkingspots.sort(sort_by_low_cost);
                var content = "";
                for (i = 0; i < parkingspots.length; i++) {
                    content += JSON.stringify(parkingspots[i]);
                    content += "<br/>";
                }
                document.getElementById("cost_low").innerHTML = content;
            }
        function sort_cost_high() {
            var parkingspots = {{ json_parkingspots|safe }};
            parkingspots.sort(sort_by_high_cost);
            var content = "";
            for (i = 0; i < parkingspots.length; i++) {
                content += JSON.stringify(parkingspots[i]);
                content += "<br/>";
            }
            document.getElementById("cost_high").innerHTML = content;
        }
        function sort_dist_low() {
            var parkingspots = {{ json_parkingspots|safe }};
            parkingspots.sort(sort_by_low_distance);
            var content = "";
            for (i = 0; i < parkingspots.length; i++) {
                content += JSON.stringify(parkingspots[i]);
                content += "<br/>";
            }
            document.getElementById("dist_low").innerHTML = content;
        }
        
        function sort_dist_high() {
            var parkingspots = {{ json_parkingspots|safe }};
            parkingspots.sort(sort_by_high_distance);
            var content = "";
            for (i = 0; i < parkingspots.length; i++) {
                content += JSON.stringify(parkingspots[i]);
                content += "<br/>";
            }
            document.getElementById("dist_high").innerHTML = content;
        }
        function filter_grill() {
            var parkingspots = {{ json_parkingspots|safe }};
            new_list = parkingspots.filter(filter_by_grill);
            var content = "";
            for (i = 0; i < new_list.length; i++) {
                content += JSON.stringify(new_list[i]);
                content += "<br/>";
            }
            document.getElementById("filter_grill").innerHTML = content;
        }
        function filter_bathroom() {
            var parkingspots = {{ json_parkingspots|safe }};
            new_list = parkingspots.filter(filter_by_bathroom);
            var content = "";
            for (i = 0; i < new_list.length; i++) {
                content += JSON.stringify(new_list[i]);
                content += "<br/>";
            }
            document.getElementById("filter_bathroom").innerHTML = content;
        }
        function filter_yard() {
            var parkingspots = {{ json_parkingspots|safe }};
            new_list = parkingspots.filter(filter_by_yard);
            var content = "";
            for (i = 0; i < new_list.length; i++) {
                content += JSON.stringify(new_list[i]);
                content += "<br/>";
            }
            document.getElementById("filter_yard").innerHTML = content;
        }
        function filter_table() {
            var parkingspots = {{ json_parkingspots|safe }};
            new_list = parkingspots.filter(filter_by_table);
            var content = "";
            for (i = 0; i < new_list.length; i++) {
                content += JSON.stringify(new_list[i]);
                content += "<br/>";
            }
            document.getElementById("filter_table").innerHTML = content;
        }
        function filter_electricity() {
            var parkingspots = {{ json_parkingspots|safe }};
            new_list = parkingspots.filter(filter_by_electricity);
            var content = "";
            for (i = 0; i < new_list.length; i++) {
                content += JSON.stringify(new_list[i]);
                content += "<br/>";
            }
            document.getElementById("filter_electricity").innerHTML = content;
        }
        </script>

        <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/parking_sort.js" %}"></script>
    </body>
    
</html>
