<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
</head>

<body>
    {% block nav_bar %}{% endblock %}

<p id="cost_low"></p>
<button onclick="sort_cost_low()">Sort By Cost Low to High</button>
<p id="cost_high"></p>
<button onclick="sort_cost_high()">Sort By Cost High To Low</button>
<p id="dist_low"></p>
<button onclick="sort_dist_low()">Sort By Low to High Distance</button>
<p id="dist_high"></p>
<button onclick="sort_dist_high()">Sort By High to Low Distance</button>

<div class="parking container">
  <h2>Parking Spots</h2>
    {% for x in parkingspots %}
    <div class="row">
        <section class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
          <h3>{{ x.address }}</h3>
          <p>{{ x.description }}</p>
        </section>
    </div>
    {% endfor %}
</div>
    <script type="text/javascript">
        function sort_cost_low() {
            var parkingspots = {{ json_parkingspots|safe }};
            parkingspots.sort(sort_by_low_cost);
            var content = "";
            for (i = 0; i < parkingspots.length; i++) {
                content += JSON.stringify(parkingspots[i]);
                content += "<br/>";
            }
            document.getElementById("cost_low").innerHTML = content;
        }
        function sort_cost_high() {
            var parkingspots = {{ json_parkingspots|safe }};
            parkingspots.sort(sort_by_high_cost);
            var content = "";
            for (i = 0; i < parkingspots.length; i++) {
                content += JSON.stringify(parkingspots[i]);
                content += "<br/>";
            }
            document.getElementById("cost_high").innerHTML = content;
        }
        function sort_dist_low() {
            var parkingspots = {{ json_parkingspots|safe }};
            parkingspots.sort(sort_by_low_distance);
            var content = "";
            for (i = 0; i < parkingspots.length; i++) {
                content += parkingspots[i];
                content += "<br/>";
            }
            document.getElementById("dist_low").innerHTML = content;
        }

        function sort_dist_high() {
            var parkingspots = {{ json_parkingspots|safe }};
            parkingspots.sort(sort_by_high_distance);
            var content = "";
            for (i = 0; i < parkingspots.length; i++) {
                content += parkingspots[i];
                content += "<br/>";
            }
            document.getElementById("dist_high").innerHTML = content;
        }
    </script>
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/parking_sort.js" %}"></script>
</body>

</html>
