<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
</head>

<body>
    {% block nav_bar %}{% endblock %}

<p id="test_json"></p>
<button onclick="get_parking_spots()">Get Parking Spots</button>


<div class="parking container">
  <h2>Parking Spots</h2>
    {% for x in parkingspots %}
    <div class="row">
        <section class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
          <h3>{{ x.address }}</h3>
          <p>{{ x.description }}</p>
        </section>
    </div>
    {% endfor %}
</div>

    <script type="text/javascript">
        function get_parking_spots() {
            var parkingspots = {{ json_parkingspots|safe }};
            var content = "";
            for (i = 0; i < parkingspots.length; i++) {
                content += parkingspots[i].fields.city + "\t" + parkingspots[i].fields.description;
                content += "<br/>";
            }
            document.getElementById("test_json").innerHTML = content;
        }
    </script>
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/boostrap/dist/js/bootsrap.min.js" %}"></script>
</body>

</html>
